# local git configuration
.gitconfig

# temp files
*.swp
# logs
*.log

# profile files
.bash_history
.bash_logout
.bashrc
.profile
.ssh
.selected_editor
.viminfo
.vimrc
.gnupg/

# sql dumps
*.sql

# temporary folder
/tmp

# logs folder
/logs

# web files folder
/web

# private folder
private
