[client]
# https://bugs.mysql.com/bug.php?id=11673
loose-default_character_set = utf8
socket=/var/mysql-socket/mysqld.sock

[mysqld_safe]
# socket is the only connection, so disable listening on port 3306
skip-networking
# X Plugin which works out of the box by network, port 33060
mysqlx=0
socket=/var/mysql-socket/mysqld.sock

[mysqld]
# socket is the only connection, so disable listening on port 3306
skip-networking
# X Plugin which works out of the box by network, port 33060
mysqlx=0
socket=/var/mysql-socket/mysqld.sock
skip_external_locking = 1
table_open_cache_instances=16

max_connections=20
max_user_connections=19
wait_timeout=10
interactive_timeout = 60
long_query_time=5
# https://www.percona.com/blog/2018/05/04/how-binary-logs-and-filesystems-affect-mysql-performance/
sync_binlog=1000
# 5 days of binlogs
binlog_expire_logs_seconds=18000

# https://www.percona.com/blog/2015/01/14/mysql-performance-implications-of-innodb-isolation-modes/
# better than default
transaction-isolation = READ-COMMITTED

# https://www.percona.com/doc/percona-monitoring-and-management/2.x/concepts/services-mysql.html
innodb_monitor_enable = all

innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_log_file_size = 512M
sql_mode = ""
thread_cache_size = 32

# 50-70% of server's memory if it's dedicated to MySQL, or 100% of DB size (our case less than 2G)
innodb_buffer_pool_size = 4G

# mysqltuner recommendations
innodb_buffer_pool_instances = 4
thread_pool_size = 16
join_buffer_size = 512Mb
table_open_cache = 65536
table_definition_cache = 3000

# https://www.percona.com/blog/2016/10/12/mysql-5-7-performance-tuning-immediately-after-installation/
innodb_autoinc_lock_mode = 2

# UTF8 support enforcement
character_set_server=utf8
collation_server=utf8_unicode_ci

# increased according to Bitrix recommendations
tmp_table_size = 256M
max_heap_table_size = 256M

# error log
log_error=/var/log/mysql/error.log

# user stats for PMM
userstat=on
