name: build

on:
  push:
    branches:
      - master
    tags:
  pull_request:

jobs:
  build-images:
    name: Build Docker images for nginx and Zabbix
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - image: nginx
            context: config/nginx
            registry-image: ghcr.io/paskal/nginx
          - image: zabbix-agent2
            context: config/zabbix
            registry-image: ghcr.io/paskal/zabbix-agent2

    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.image }} image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ matrix.registry-image }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Remote update of zabbix agent after rebuild
        if: ${{ github.event_name != 'pull_request' && matrix.image == 'zabbix-agent2' }}
        env:
          UPDATER_KEY: ${{ secrets.UPDATER_KEY }}
        run: curl -s https://hooks.favor-group.ru/update/zabbix/${UPDATER_KEY}
